@if(idPedido > 0){
<div class= "container">
    <div class = "row">
        <div class ="col-12 text-center">
             <h1>Recibo do seu pedido</h1>
        </div>
    </div>

    <div class="row mt-10">
        <div class="col-12 text-center">
            <p>Obrigado {{detalhePedido.cliente.nome}}! Já estamos processando seu pedido!</p>
            <p>Seu Whatsapp é {{ detalhePedido.cliente.telefone }} </p>
        </div>
    </div>

    <div class="row mt-10">
        <div class="col-12 text-center">
            <h3>Pedido número {{ idPedido }}</h3>
            <h4>Total a pagar R$ {{detalhePedido.valorTotal | number : '1.2-2'}}</h4>
        </div>
    </div>


    <div class="row">
        <div class="col-12 text-center">
        <p><b>Sobre Seu Frete:</b></p>
        @if (detalhePedido.retirar == 1) {
        <p>
            Você optou por retirar o pedido conosco. Entraremos em contato para combinarmos o endereço.
            Nosso ponto de Retirada é no Jardim D'Abril em Osasco
        </p>
        }
        @if (detalhePedido.retirar == 0 && detalhePedido.valorFrete != 0) {
        <p>
            Seu Frete estimado para a região é de R$ {{ detalhePedido.valorFrete }}
            e já está incluso no valor total a ser pago
        </p>
        }
        @if (detalhePedido.retirar == 0 && detalhePedido.valorFrete == 0) {
        <p>
            Ainda não temos um valor definido para seu frete. Nossos fretes iniciam em 4,99,
            mas vamos fazer o cálculo de forma manual e entraremos em contato
        </p>
        }
        <p><b>Sobre Pagamentos:</b></p>
            <p>Em breve entraremos em contato para combinarmos a forma de pagamento e sanar eventuais dúvidas</p>
            <p>Sigo à disposição pelas redes sociais e Whastapp (11) 96357-3218</p>
            <p>Veja o resumo dos itens que você comprou</p>            
        </div>
    </div>

        <table class="table">
        <thead>
            <tr>
                <th>FOTO</th>
                <th>Produto</th>
                <th>Qtd</th>
            </tr>
        </thead>
        <tbody>
            @for(ITEM of detalhePedido.itensPedido; track detalhePedido){
                <tr>
                <td><img src="{{ITEM.peca.linkFoto}}" width="50px"></td>
                <td>{{ ITEM.peca.nome}}</td>
                <td>{{ ITEM.qtdtItem}}</td>

                </tr>
            }
        </tbody>
    </table>
</div>
}
