
<!-- Modal quando CPF for inválido -->
<div class="modal fade" tabindex="-1" id="modalErroCPF">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Erro no Formulário</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ mensagemErro }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <button type="button" id = "btnModal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalErroCPF"></button>
  <div id="divBusca" class="row">
    <div class="col-8 col-sm-8 col-md-9 col-lg-10 col-xl-10">
      <div class="mb-3">
        <label for="txtCPF" class="form-label">Seu CPF</label>
        <input type="text" class="form-control" id="txtCPF" [(ngModel)]= "cliente.cpf">
      </div>
    </div>

    <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2">
      <button id="btnBuscar" type="button" (click)= "buscarCPF()" class="btn btn-primary">
        Buscar
      </button>
    </div>
  </div>

  @if (buscouCPF) {
    @if (!achou) {
      <div class="row mt-3">
        <div class="col-12">
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Bem vindo!!</strong> Você é recente por aqui?
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
      </div>
    }

    @if(cpfValido){

          <div id="divDetalhe" class="mt-3">
      <div class="mb-3">
        <label for="txtNome" class="form-label">Seu Nome</label>
        <input type="text" class="form-control" id="txtNome" [(ngModel)]= "cliente.nome">
      </div>

      <div class="mb-3">
        <label for="txtEmail" class="form-label">Seu E-mail</label>
        <input type="text" class="form-control" id="txtEmail" [(ngModel)]= "cliente.email">
      </div>

      <div class = "row">
        <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-3">
              <label for="txtTelefone" class="form-label">Seu WhatsApp</label>
              <input type="text" class="form-control" id="txtTelefone" [(ngModel)]= "cliente.telefone">
            </div>
        </div>

        <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-3">
              <label for="txtDataNasc" class="form-label">Data de Nascimento</label>
              <input type="date" class="form-control" id="txtDataNasc" [(ngModel)]= "cliente.dataNasc">
            </div>
        </div>
      </div>


      @if(exibirPerguntaEndereco){
      <div class="row mb-3 text-center" id ="divPerguntaEndereco">
        <div class = "col-12 mb-3"> 
          <h4>Seu endereço {{ msgEndereco }}continua o mesmo?</h4>
        </div>
        <div class = "col-6">
          <button type = "button" class = "btn btn-primary" (click)= "ocultarForm()">Sim</button>
        </div>
        <div class = "col-6">
          <button type = "button" class = "btn btn-primary" (click)= "exibirForm()">Não</button>
        </div>
      </div>
      }

      @if(exibirFormEndereco){
          <div id="divBuscaCEP" class="row ">
        <div class="col-8 col-sm-8 col-md-9 col-lg-10 col-xl-10 ">
            <div class="mb-3">
              <label for="txtCep" class="form-label">CEP da sua residência</label>
              <input type="text" class="form-control" id="txtCep" [(ngModel)]= "cliente.cep">
            </div>
        </div>

        <div class="col-4 col-sm-4 col-md-3 col-lg-2 col-xl-2">
          <button id="btnBuscarCEP" type="button" (click)= "buscarCEP()" class="btn btn-primary">
            Buscar CEP
          </button>
        </div>
      </div>

      <div class="mb-3">
        <label for="txtLogradouro" class="form-label">Logradouro</label>
        <input type="text" class="form-control" id="txtLogradouro" [(ngModel)]= "cliente.logradouro">
      </div>

      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="txtNumero" class="form-label">Número</label>
            <input type="text" class="form-control" id="txtNumero" [(ngModel)]= "cliente.numero">
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="txtComplemento" class="form-label">Complemento</label>
            <input type="text" class="form-control" id="txtComplemento" [(ngModel)]= "cliente.complemento">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="txtBairro" class="form-label">Bairro</label>
            <input type="text" class="form-control" id="txtBairro" [(ngModel)]= "cliente.bairro">
          </div>
        </div>
        <div class="col-4">
          <div class="mb-3">
            <label for="txtCidade" class="form-label">Cidade</label>
            <input type="text" class="form-control" id="txtCidade" [(ngModel)]= "cliente.cidade">
          </div>
        </div>
        <div class="col-2">
          <div class="mb-3">
            <label for="txtEstado" class="form-label">UF</label>
            <input type="text" class="form-control" id="txtEstado" [(ngModel)]= "cliente.estado">
          </div>
        </div>
      </div>

      }
      
      <div class="mb-3">
        <label for="txtObservacoes" class="form-label">Observações do seu Pedido</label>
        <input type="text" class="form-control" id="txtObservacoes" [(ngModel)]= "pedido.observacoes"
          placeholder="Informe se você tem preferência de horário ou alguma observação sobre a entrega.">
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <div class="btn btn-primary" type="button" (click)= "finalizarPedido()">Finalizar Pedido</div>
        </div>
      </div>
    </div>
  }

    }

</div>
