<div class="container" id="destaques">
    <div class="row mb-3">
        @for (ITEM of lista; track lista) {
    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
      <div class="card h-100 shadow-sm">
                <img src="{{ ITEM.linkFoto }}" class="card-img-top" alt="{{ ITEM.linkFoto }}">
                <div class="badges-container">
                    @if (ITEM.prontaEntrega === 1) {
                    <span id="prontaEntrega" class="badge rounded-pill">
                        Pronta Entrega!
                    </span>
                    }

                    @if (ITEM.quantidadeEstoque <= ITEM.estoqueCritico) { <span id="estoqueCritico"
                        class="badge rounded-pill">
                        Estoque Crítico!
                        </span>
                        } @else if (ITEM.quantidadeEstoque <= ITEM.estoqueMinimo) { <span id="estoqueBaixo"
                            class="badge rounded-pill">
                            Baixo Estoque!
                            </span>
                            }
                </div>
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <h6 class="card-title text-center mb-1">{{ ITEM.nome }}</h6>
                        <h5 class="card-subtitle mb-2 text-center">
                            @if (ITEM.precoPromo === 0) {
                            Por: {{ ITEM.preco | currency:'BRL':'symbol':'1.2-2' }}
                            } @else if(ITEM.preco !== ITEM.precoPromo ) {
                            De: <del>{{ ITEM.preco | currency:'BRL':'symbol':'1.2-2' }}</del>
                            <br />
                            Por: {{ ITEM.precoPromo | currency:'BRL':'symbol':'1.2-2' }}
                            }
                        </h5>

                        <p class="card-text small text-muted text-center mb-2">{{ ITEM.categoriaPeca.nome }}</p>
                    </div>


                    <a [routerLink]="['/detalhe/', ITEM.id]" class="btn btn-primary w-100 mt-auto">Eu quero!</a>
                </div>
            </div>
        </div>
        }
    </div>
</div>z